// primary
$color-primary: #012345;
$color-secondary: #fcfcfc;

// text
$color-text-regular: #677b8f;
$color-text-light: #fcfcfc;

// advanced
$color-white: #f3f4f7;
$color-dark: #011c37;

$color-price: #f84ab3;
$color-button: #4959ff;

// background
$background-light: #fcfcfc;
$background-dark: #012345;

$color-error: red;
